<div class="container side-offset" ng-mouseover="showform();" onmouseout="">
  <div class="row">   <!-- http://materializecss.com/cards.html -->
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="images/saree.jpg" height="400">
                <span class="card-title">Banarsi saree</span>
            </div>
              <div class="card-content">
                <p>This is a banarsi saree which is :
                  9 yards long, 2 yards in breadth
                </p>
              </div>
               <a class="waves-effect waves-circle waves-light btn-floating secondary-content" ng-click="getcoupon()">Buy</a> 
              <!-- this will call function present in mainCtrl -->
              <div class="hiddendiv" ></div>
            <div>
              <form ng-submit="submit()" id="loginForm">
              Your autoreferral- coupon:
              <input type="text" ng-model="coupon" name='coupon'/>
              Enter your email-id: 
              <input type="text" ng-model="user.emailId" name="emailId" />
              <button type="submit">Proceed</button>
              </form>  
            </div>  
          </div>

        </div>
  </div>
</div>

<div>
  
</div>