<div class="card-panel">
      <span class="blue-text text-darken-2">You order Details</span>
</div>
            
<div class="row card-panel">
	 <div class="col s6">
	 	<span>Order-id : {{data.orderId}}</span>
	 </div>
      <div class="col s6">
      	<span>Order Amount : Rs :{{data.orderAmount}}</span>
      </div>
      <br>
      <br>
      <div class="col s5 offset-s6">
      	<a class="waves-effect waves-circle waves-light btn-floating secondary-content" ng-click="submit()"><i class="material-icons left">shopping_cart</i></a>
            <div>Click on shopping cart to place order</div>
      </div>
</div>